html, body {
	height:99%;
}

textarea {
	resize:none;
}

body.console {
  background-color:black;
}

div.console {
  height:100%;
  width:100%;
  background-color:#383838;
  color:#F0F0F0;
  font-size:14px;
  font-family:monospace;
  overflow-y:auto;
  overflow-x:auto;
  white-space:normal;
  word-wrap:break-word;
}

textarea.console {
  width:100%;
  background-color:#383838;
  color:#F0F0F0;
  font-size:14px;
  font-family:monospace;
  position:fixed;
  bottom:0%;
}

span.Warning {
	color:#f4e542;
}

span.Assert {
	color:#f4e542;
}

span.Error {
	color:#ff0000;
}

span.Exception {
	color:#ff0000;
}

span.Help {
	color:#16f3ff;
}

button#pauseUpdates {
  width:150px;
  height:40px;
  position:fixed;
  float:right;
  margin-right:50px;
  margin-top:10px;
  right:0px;
  opacity:.5;
}