textarea {resize:none;}
div {resize:none;}

body.console {
  background-color:black;
}
textarea.console {
  width:100%;
  background-color:#383838;
  color:#F0F0F0;
  font-size:14px;
  font-family:"Courier New", Courier, monospace;

}

div.console {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    overflow: auto;
    padding: 2px;
    width:100%;
    background-color:#383838;
    color:#F0F0F0;
    font-size:14px;
    font-family:"Courier New", Courier, monospace;
    white-space: pre;
}

#output {
  height:500px;
}
